accelerate
aiohappyeyeballs
aiohttp
aiosignal
AnilistPython
annotated-types
attrs
certifi
cffi
characterai
charset-normalizer
colorama
curl_cffi
datasets
diffusers
dill
frozenlist
fsspec
gevent
huggingface-hub
idna
importlib_metadata
iniconfig
Jinja2
MarkupSafe
mkl-service
mkl_fft
mkl_random
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
peft
pillow
pluggy
psutil
pyarrow
pycparser
pydantic
pydantic_core
PySocks
pytest
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
six
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
websockets
xxhash
yarl
zipp
zope.event
zope.interface
